<div class="container-fluid home">
  <div *ngIf="poulePlace" class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <div class="mb-4">
        <h1 *ngIf="competition">
          {{competition.getName()}}
          <button (click)="navigateBack()" type="button" class="btn btn-outline-secondary btn-sm">
            <i class="fa fa-level-up fa-rotate-270"></i>
          </button>
        </h1>
        <h1 *ngIf="poulePlace">
          pouleplek
        </h1>
      </div>

      <form name="form" (ngSubmit)="save() && false" [formGroup]="customForm" novalidate>
        <div class="form-group row">
          <div class="col-3">
            <label for="place" class="col-form-label">plek</label>
          </div>
          <div class="col-9">
            <span class="form-control-plaintext">{{poulePlace.getNumber()}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="competitor" class="col-form-label">competitor</label>
          </div>
          <div class="col-9">
            <select id="competitor" name="competitor" class="form-control" [ngClass]="{ 'is-invalid': customForm.controls.competitor.invalid, 'is-valid': customForm.controls.competitor.valid }"
              [formControl]="customForm.controls.competitor">
              <option [ngValue]="undefined">kies..</option>
              <option *ngFor="let competitor of competition.getLeague().getAssociation().getCompetitors()" [ngValue]="competitor">{{competitor.getName()}}</option>
            </select>
          </div>
        </div>
        <ngb-alert *ngIf="alert" [type]="alert.type" style="width:100%;" [dismissible]="true" (close)="alert = undefined;">{{
          alert.message }}</ngb-alert>
        <div class="form-group row justify-content-end">
          <div class="col-9">
            <button [disabled]="customForm.invalid" type="submit" class="btn btn-outline-primary">
              <i class="fi flaticon-group"></i> deelnemer opslaan
              <i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>