<footer *ngIf="tournamentLiveboardLink.showIcon !== false" class="footer pt-3 mt-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h6>contact</h6>
        <div>
          <fa-icon [icon]=" [ 'fas', 'mobile-alt'] "></fa-icon> +31 614363514
        </div>
        <div>
          <fa-icon [icon]=" [ 'fas', 'envelope'] "></fa-icon> fctoernooi2018@gmail.com
        </div>
        <div>
          <a target="_blank" rel="noopener" href="https://twitter.com/fctoernooi" tabindex="-1">
            <fa-icon [icon]=" [ 'fab', 'twitter'] "></fa-icon>@fctoernooi
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h6>projecten</h6>
        <div>
          <a target="_blank" rel="noopener" href="https://www.voetbaloog.nl/" tabindex="-1">voetbaloog</a>
        </div>
        <div>
          <a target="_blank" rel="noopener" href="https://www.superelf-eredivisie.nl/" tabindex="-1">superelf</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h6>links</h6>
        <div>
          <a target="_blank" rel="noopener"
            href="https://drive.google.com/open?id=1HLwhbH4YXEbV7osGmFUt24gk_zxGjnVilTG0MpkkPUI"
            tabindex="-1">handleiding</a>
        </div>
        <div>
          <a target="_blank" rel="noopener" href=" https://github.com/thepercival/fctoernooi/issues/"
            tabindex="-1">klachten,
            feedback, etc</a>
        </div>
        <div>
          <a target="_blank" rel="noopener" href="http://oefenplein.nl/lo/164-toernooi-organiseren"
            tabindex="-1">oefenplein</a>
        </div>
        <div>
          <a target="_blank" rel="license noopener" href="https://creativecommons.org/licenses/by-nc-sa/3.0/"
            tabindex="-1">cc
            by-nc-sa
            <span> 3.0 licentie</span>
          </a>
        </div>
        <div>
          <a target="_blank" rel="noopener" href="https://www.flaticon.com/" tabindex="-1">flaticon.com</a>
        </div>
      </div>
    </div>

    <div class="d-none d-sm-block text-center pt-4">
      <fa-icon [icon]=" [ 'fas', 'copyright'] "></fa-icon> FCToernooi
    </div>
  </div>
</footer>