<footer class="footer pt-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h6>contact</h6>
        <div>
          <span class="glyphicon glyphicon-phone"></span> +31 614363514</div>
        <div>
          <span class="glyphicon glyphicon-envelope"></span> coendunnink@gmail.com</div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h6>projecten</h6>
        <div>
          <a target="_blank" rel="noopener" href="https://www.voetbaloog.nl/">voetbaloog</a>
        </div>
        <div>
          <a target="_blank" rel="noopener" href="https://www.superelf-eredivisie.nl/">superelf</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h6>links</h6>
        <div>
          <a target="_blank" rel="license noopener" href=" https://github.com/thepercival/fctoernooi/issues/">klachten, opmerkingen, etc.</a>
        </div>
        <div>
          <a target="_blank" rel="license noopener" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">cc by-nc-sa
            <span> 3.0 licentie</span>
          </a>
        </div>
        <div>
          <a target="_blank" rel="license noopener" href="http://www.flaticon.com/">flaticon.com</a>
        </div>
      </div>
    </div>
    <div class="d-none d-sm-block" style="text-align: center; padding-top:50px;">
      <span class="glyphicon glyphicon-copyright-mark"></span> Coen Dunnink</div>
  </div>
</footer>