// @import './mixins';

@import "~bootstrap/scss/bootstrap";

$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default;
@import "~font-awesome/scss/font-awesome";

// $flaticon-font-path: "/assets/flaticon";
// @import "./flaticon/flaticon";

span.icon-success {
  color: #{$success};
}

span.icon-danger {
  color: #{$danger};
}

html {
  position: relative;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
app-root {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  flex-direction: column;
}
.content-wrapper {
  flex: 1 0 auto;
}
footer {
  flex: 1 0 auto;
}

/* ng-bootstrap datepicker */
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.selected {
    background-color:#{$success};
    color: white;
}
.custom-day:hover {
    background-color: #{$info}; /* rgb(2, 117, 216); */
    color: white;
}
