<div class="row justify-content-center mx-0" style="min-height:4.5rem;">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 mt-1">
    <h1 class="">
      <span>seizoenen</span>
      <button routerLink="/admin/home" routerLinkActive="active" type="button" class="btn btn-outline-secondary btn-sm">
        <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
      </button>
    </h1>
    <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="true" (close)="alert = undefined;">
      <fa-icon *ngIf="processing" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon> {{ alert.message }}
    </ngb-alert>
  </div>
</div>
<div class="row justify-content-center mx-0">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 px-0">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th *ngIf="useExternal"></th>
          <th>naam</th>
          <th class="d-none d-sm-table-cell">start</th>
          <th class="d-none d-sm-table-cell">eind</th>
          <th style="text-align: right;">
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="add()" [disabled]="processing">
              <fa-icon [icon]="['fas', 'fa-plus']"></fa-icon>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let season of seasons">
          <td>
            <button type="button" class="btn btn-sm btn-outline-primary" [disabled]="processing" (click)="edit(season)">
              <fa-icon [icon]="['fas', 'fa-pencil-alt']"></fa-icon>
            </button>
          </td>
          <td *ngIf="useExternal">
            <button type="button" class="btn btn-sm btn-outline-primary" [disabled]="processing" (click)="linkToExtern(season)">
              <fa-icon [icon]="['fas', 'fa-cloud-download-alt']"></fa-icon>
            </button>
          </td>
          <td>
            <span>{{season.getName()}}</span>
          </td>
          <td class="d-none d-sm-table-cell">{{season.getStartDateTime() | date:"yyyy-MM-dd"}}</td>
          <td class="d-none d-sm-table-cell">{{season.getEndDateTime() | date:"yyyy-MM-dd"}}</td>
          <td style="text-align: right;">
            <button type="button" class="btn btn-sm btn-outline-primary" [disabled]="processing" (click)="remove(season);">
              <fa-icon [icon]="['fas', 'fa-trash-alt']"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>