<div class="container-fluid home">
  <div class="row justify-content-center">
    <div *ngIf="competition" class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <div class="mb-4">
        <h1>
          <span>{{competition.getName()}}</span>
        </h1>
        <h1>
          <span>structuur</span>
          <span> {{competition ? 'wijzigen' : 'toevoegen'}}</span>
          <button (click)="navigateBack()" type="button" class="btn btn-outline-secondary btn-sm">
            <i class="fa fa-level-up fa-rotate-270"></i>
          </button>
        </h1>
      </div>
      <h1 *ngIf="processing" align="center">
        <i class="fa fa-spinner fa-spin fa-fw"></i>
      </h1>
      <form *ngIf="!processing && !structureService" name="form" (ngSubmit)="create() && false" [formGroup]="customForm" novalidate>
        <div class="form-group row">
          <div class="col-3">
            <label for="nrofteams" class="col-form-label">aantal teams</label>
          </div>
          <div class="col-9">
            <input class="form-control" [ngClass]="{ 'is-invalid': customForm.controls.nrofteams.invalid, 'is-valid': customForm.controls.nrofteams.valid }"
              type="text" name="nrofteams" id="nrofteams" [formControl]="customForm.controls.nrofteams" min="{{validations.minnrofteams}}"
              max="{{validations.maxnrofteams}}" placeholder="{{validations.minnrofteams}} - {{validations.maxnrofteams}}"
              autofocus>
          </div>
        </div>
        <ngb-alert *ngIf="alert" [type]="alert.type" style="width:100%;" [dismissible]="true" (close)="alert = undefined;">{{ alert.message }}</ngb-alert>
        <div class="form-group row justify-content-end">
          <div class="col-9">
            <button [disabled]="customForm.invalid" type="submit" class="btn btn-outline-primary">
              <span>maak structuur</span>
              <i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i>
            </button>
          </div>
        </div>
      </form>
      <div *ngIf="!processing && structureService">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>plek</th>
              <th>naam</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let poulePlace of getPoulePlaces()">
              <td>
                <button type="button" class="btn btn-sm btn-outline-primary" [disabled]="processing" (click)="editPoulePlace(poulePlace)">
                  <span class="fa fa-pencil"></span>
                </button>
              </td>
              <td>
                <span>{{poulePlace.getNumber()}}</span>
              </td>
              <td *ngIf="poulePlace.getTeam()">
                <span>{{poulePlace.getTeam().getName()}}</span>
              </td>
              <td *ngIf="!poulePlace.getTeam()">
                <span class="badge badge-danger">vul een naam in</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr> teams kunnen koppelen
      <br> testen als team niet meer te verwijderen is
      <br>
      <br> wedstrijden is een ander scherm, hier kun je de wedstrijden aanmaken en verwijderen
      <br> verwijderen mag alleen als er geen externe koppelingen zijn en er geen gespeelde wedstrijden zijn
      <br>
      <br> hierna externe data koppelen met de hand
      <br> externe wedstrijden worden gekoppeld via script
      <br> hoppa
      <br>
    </div>
  </div>
</div>