<div class="container-fluid home">
  <div class="row justify-content-center">
    <div *ngIf="competitionseason" class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <div class="mb-4">
        <h1>
          <span>{{competitionseason.getName()}}</span>
        </h1>
        <h1>
          <span>structuur</span>
          <span> {{competitionseason ? 'wijzigen' : 'toevoegen'}}</span>
          <button [routerLink]="['/admin/competitionseason']" type="button" class="btn btn-outline-secondary btn-sm">
            <i class="fa fa-level-up fa-rotate-270"></i>
          </button>
        </h1>
      </div>
      <h1 *ngIf="processing" align="center">
        <i class="fa fa-spinner fa-spin fa-fw"></i>
      </h1>
      <form *ngIf="!processing" name="form" (ngSubmit)="save() && false" [formGroup]="customForm" novalidate>
        <hr> standaard ronde, met 1 poule en x pouleplace kunnen aanmaken en verwijderen
        <br> x moet dan een invoerveld zijn van 2 tm 32
        <br> dan structuct tonen en teams kunnen koppelen
        <br> testen als team niet meer te verwijderen is
        <br>
        <br> wedstrijden is een ander scherm, hier kun je de wedstrijden aanmaken en verwijderen
        <br> verwijderen mag alleen als er geen externe koppelingen zijn en er geen gespeelde wedstrijden zijn
        <br>
        <br> hierna externe data koppelen met de hand
        <br> externe wedstrijden worden gekoppeld via script
        <br> hoppa
        <br>

        <!-- <div class="form-group row">
          <div class="col-3">
            <label for="association" class="col-form-label">bond</label>
          </div>
          <div class="col-9">
            <select id="association" name="association" class="form-control" [ngClass]="{ 'is-invalid': customForm.controls.association.invalid, 'is-valid': customForm.controls.association.valid }"
              [formControl]="customForm.controls.association">
              <option value="">kies..</option>
              <option *ngFor="let association of associations" [ngValue]="association">{{association.getName()}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="competition" class="col-form-label">competitie</label>
          </div>
          <div class="col-9">
            <select id="competition" name="competition" class="form-control" [ngClass]="{ 'is-invalid': customForm.controls.competition.invalid, 'is-valid': customForm.controls.competition.valid }"
              [formControl]="customForm.controls.competition">
              <option value="">kies..</option>
              <option *ngFor="let competition of competitions" [ngValue]="competition">{{competition.getName()}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="season" class="col-form-label">seizoen</label>
          </div>
          <div class="col-9">
            <select id="season" name="season" class="form-control" [ngClass]="{ 'is-invalid': customForm.controls.season.invalid, 'is-valid': customForm.controls.season.valid }"
              [formControl]="customForm.controls.season" (ngModelChange)="updateStartDateTime($event)">
              <option value="">kies..</option>
              <option *ngFor="let season of seasons" [ngValue]="season">{{season.getName()}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="dp" class="col-form-label">startdatum</label>
          </div>
          <div class="col-9">
            <div class="input-group input-group-date">
              <input class="form-control" placeholder="yyyy-mm-dd" id="dp" name="dp" [formControl]="customForm.controls.startDateTime"
                [ngClass]="{ 'is-invalid': customForm.controls.startDateTime.invalid, 'is-valid': customForm.controls.startDateTime.valid }"
                ngbDatepicker #d="ngbDatepicker" required>
              <div class="input-group-append">
                <span class="input-group-text" (click)="d.toggle()" style="cursor: pointer;">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <ngb-alert *ngIf="alert" [type]="alert.type" style="width:100%;" [dismissible]="true" (close)="alert = undefined;">{{ alert.message }}</ngb-alert>
        <div class="form-group row justify-content-end">
          <div class="col-9">
            <button [disabled]="customForm.invalid" type="submit" class="btn btn-outline-primary">
              <span>{{competitionseason ? 'wijzigen' : 'toevoegen'}}</span>
              <i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i>
            </button>
          </div>
        </div> -->
      </form>
    </div>
  </div>
</div>