
<div class="home">
    <div *ngIf="!authService.user" class="row">
        <div class="offset-xs-1 col-xs-10 offset-sm-3 col-sm-6" align="center">
            <div>
                <button class="btn btn-default" routerLink="/register" routerLinkActive="active">registreren</button>
            </div>
            <div class="card card-outline-danger text-xs-center">
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <p>alleen de gebruiker "coen" kan zich registreren</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="authService.user" class="row">
        <div class="offset-xs-1 col-xs-10 offset-sm-3 col-sm-6" align="center">
            <div>
                <!--
                <button class="btn btn-default" routerLink="/associations" routerLinkActive="active">associations</button>
                -->
                ies met home
            </div>
        </div>
    </div>
</div>

<!--
<div class="grid grid-pad">
    <a *ngFor="let competitionseason of competitionSeasons" [routerLink]="['/detail', competitionseason.id]"  class="col-1-4">
        <div class="module competitionseason">
            <h4>{{competitionseason.name}}</h4>
        </div>
    </a>
</div>
<div style="clear:both;"></div>
-->
<!--
<hr>
<competition-season-search></competition-season-search>
-->
