<div *ngIf="!isLoggedIn()" class="p-x-1 p-y-3 password-reset">
  <!-- <div *ngIf="activationmessage" class="alert alert-success">{{activationmessage}}</div> -->
  <form *ngIf="!codeSend" class="card card-body mx-auto bg-faded form-password-reset" name="form" (ngSubmit)="f.form.valid && sendCode() && false"
    #f="ngForm" novalidate>
    <legend class="m-b-1 text-xs-center">wachtwoord vergeten</legend>
    <label for="emailaddress" class="sr-only">emailaddres</label>
    <input type="email" id="emailaddress" name="emailaddress" class="form-control" placeholder="emailadres" [(ngModel)]="model.emailaddress"
      #emailaddress="ngModel" required autofocus>
    <div *ngIf="f.submitted && !emailaddress.valid" class="alert alert-danger">emailadres is verplicht</div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <button [disabled]="loading" class="btn btn-lg btn-primary btn-block" type="submit">code sturen
      <i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i>
    </button>
  </form>
</div>

<div *ngIf="!isLoggedIn() && codeSend" class="card card-body mx-auto bg-faded form-password-reset mt-3">
  <legend class="m-b-1 text-xs-center">de code, om je wachtwoord te wijzigen, is gemaild</legend>
  <a role="button" class="btn btn-outline-secondary" routerLink="/user/passwordchange" [queryParams]="{ emailaddress: model.emailaddress }">naar wachtwoord wijzigen</a>
</div>
<div *ngIf="isLoggedIn() && !codeSend" class="card card-body mx-auto bg-faded form-password-reset mt-3">
  <legend class="m-b-1 text-xs-center">je bent al ingelogd</legend>
  <a role="button" class="btn btn-outline-secondary" routerLink="/home">ga terug</a>
</div>