<div *ngIf="!succeeded" class="p-x-1 p-y-3 password">
    <form class="card card-block mx-auto bg-faded" style="max-width: 25rem" name="formChangePassword" (ngSubmit)="f.form.valid && passwordChange() && false" #f="ngForm" novalidate>
        <legend class="m-b-1 text-xs-center">wachtwoord wijzigen</legend>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-at fa-fw"></i></span>
            <span class="has-float-label">
                <input type="password" id="password" name="password" class="form-control" placeholder="wachtwoord" [(ngModel)]="model.password" #password="ngModel" required autofocus>
                <label for="password">wachtwoord</label>
            </span>
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-at fa-fw"></i></span>
            <span class="has-float-label">
                <input type="password" id="passwordrepeat" name="passwordrepeat" class="form-control" placeholder="herhaal wachtwoord" [(ngModel)]="model.passwordrepeat" #passwordrepeat="ngModel" required>
                <label for="passwordrepeat">herhaal wachtwoord</label>
            </span>
        </div>
        <div *ngIf="f.submitted && !password.valid" class="alert alert-danger">wachtwoord is verplicht</div>
        <div *ngIf="f.submitted && !passwordrepeat.valid" class="alert alert-danger">herhaal-wachtwoord is verplicht</div>
        <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
        <div class="text-xs-center">
            <button [disabled]="loading" class="btn btn-block btn-primary" type="submit">wijzig wachtwoord <i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i> </button>
        </div>
    </form>
</div>
<div *ngIf="succeeded" class="p-x-1 p-y-3 password">
    <legend class="m-b-1 text-xs-center">wachtwoord wijzigen</legend>
    <div class="alert alert-success" role="alert">
        Je wachtwoord is gewijzigd.
        Klik <strong><a routerLink="/login">hier</a></strong> om in te loggen.
    </div>
</div>