<div *ngIf="!succeeded" class="p-x-1 p-y-3 register">
    <form class="card card-block mx-auto bg-faded" style="max-width: 25rem" name="formResetPassword" (ngSubmit)="f.form.valid && passwordReset() && false" #f="ngForm" novalidate>
        <legend class="m-b-1 text-xs-center">nieuw wachtwoord aanvragen </legend>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-at fa-fw"></i></span>
            <span class="has-float-label">
                <input class="form-control" id="email" name="email" type="email" placeholder="pietjepuk@gmail.com" required [(ngModel)]="model.email" #email="ngModel" autofocus/>
                <label for="email">email</label>
            </span>
        </div>
        <div *ngIf="f.submitted && !email.valid" class="alert alert-danger">emailadres is verplicht</div>
        <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
        <div class="text-xs-center">
            <button [disabled]="loading" class="btn btn-block btn-primary" type="submit">nieuw wachtwoord aanvragen <i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i> </button>
        </div>
    </form>
</div>
<div *ngIf="succeeded" class="p-x-1 p-y-3 register">
    <legend class="m-b-1 text-xs-center">nieuw wachtwoord aanvragen </legend>
    <div class="alert alert-success" role="alert">
        Je hebt een email met een link, waarmee je je wachtwoord opnieuw kunt instellen, ontvangen.
        Klik <strong><a routerLink="/">hier</a></strong> om terug te keren naar de home-pagina
    </div>
</div>