<div class="p-x-1 p-y-3 register">
    <form class="card card-block mx-auto bg-faded" style="max-width: 25rem" name="formRegister" (ngSubmit)="f.form.valid && register() && false" #f="ngForm" novalidate>
        <legend class="m-b-1 text-xs-center">registreren</legend>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
            <input class="form-control" id="name" name="name" type="text" placeholder="pietjepuk" required [(ngModel)]="model.name" #name="ngModel" autofocus/>
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-at fa-fw"></i></span>
            <input class="form-control" id="email" name="email" type="email" placeholder="pietjepuk@gmail.com" required [(ngModel)]="model.email" #email="ngModel"/>
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
            <input class="form-control" id="password" name="password" type="password" placeholder="••••••••" required [(ngModel)]="model.password" #password="ngModel"/>
        </div>
        <div class="form-group">
            <label class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox"/>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">ontvang nieuwsbrief</span>
            </label>
        </div>
        <div *ngIf="f.submitted && !name.valid" class="alert alert-danger">gebruikersnaam is verplicht</div>
        <div *ngIf="f.submitted && !email.valid" class="alert alert-danger">emailadres is verplicht</div>
        <div *ngIf="f.submitted && !password.valid" class="alert alert-danger">wachtwoord is verplicht</div>
        <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
        <div class="text-xs-center">
            <button [disabled]="loading" class="btn btn-block btn-primary" type="submit">registreren <i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i> </button>
        </div>
    </form>
</div>