<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">
    <i class="fi flaticon-favicon"></i> {{title}}</a>

    <button *ngIf="!isLoggedIn()" routerLink="/user/login" routerLinkActive="active" class="btn btn-outline-secondary" type="button" style="cursor:pointer;">
      <i class="fa fa-sign-in"></i> inloggen
    </button>
    <button *ngIf="isLoggedIn()" routerLink="/user/logout" routerLinkActive="active" class="btn btn-outline-secondary" type="button" style="cursor:pointer;">
      <i class="fa fa-sign-out"></i> uitloggen
    </button>

  <!-- <button class="navbar-toggler navbar-toggler-right text-white" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-label="Toggle navigation" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
    style="cursor:pointer;">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarResponsive">
    <ul class="navbar-nav">
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/admin/home" routerLinkActive="active" (click)="navbarCollapsed = !navbarCollapsed">admin</a>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
      <li *ngIf="!isLoggedIn()" class="nav-item">
        <a class="nav-link text-white" routerLink="/user/login" routerLinkActive="active" (click)="navbarCollapsed=!navbarCollapsed ">inloggen</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item ">
        <a class="nav-link text-white" routerLink="/user/logout" routerLinkActive="active" (click)="navbarCollapsed=!navbarCollapsed">uitloggen</a>
      </li>
    </ul>
  </div> -->
</nav>
<div style="clear: both; "></div>