<div class="modal-header">
    <h4 class="modal-title">team toevoegen</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form class="card card-block" name="formTeamAdd" (ngSubmit)="f.form.valid && add() && false" #f="ngForm" novalidate>
    <div class="modal-body">
        <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
        <div class="form-group">
            <label for="name">naam</label>
            <input class="form-control" id="name" name="name" type="text" placeholder="naam" maxlength="{{maxvalues.name}}" required [(ngModel)]="model.name" #name="ngModel" />
        </div>
        <div class="form-group">
            <label for="abbreviation">afkorting</label>
            <input class="form-control" id="abbreviation" name="abbreviation" type="text" maxlength="{{maxvalues.abbreviation}}" placeholder="afk" [(ngModel)]="model.abbreviation" #abbreviation="ngModel"/>
        </div>
        <div class="form-group">
            <label for="association">bond</label>
            <select [(ngModel)]="model.association" id="association" name="association" #association="ngModel" class="form-control" required>
                <option *ngFor="let association of associations" [ngValue]="association">{{association.getName()}}</option>
            </select>
        </div>

        <div *ngIf="f.submitted && !name.valid" class="alert alert-danger">naam is verplicht</div>
        <div *ngIf="f.submitted && !association.valid" class="alert alert-danger">de bond is verplicht</div>
        <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
    </div>
    <div class="modal-footer">
        <button [disabled]="loading" class="btn btn-primary" type="submit">toevoegen <i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i> </button>
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">sluiten</button>
    </div>
</form>