<div class="container-fluid home">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <div class="d-flex justify-content-between mb-2">
        <h1 class="text-truncate"><span>competitieseizoen</span>
          <span> {{competition ? 'wijzigen' : 'toevoegen'}}</span></h1>
        <h1 class="mr-1">
          <button (click)="navigateBack()" type="button" class="btn btn-outline-secondary">
            <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
            <span class="ml-1 d-none d-sm-inline"> terug</span>
          </button>
        </h1>
      </div>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="true" (close)="alert = undefined;">{{alert.message }}
      </ngb-alert>
      <form *ngIf="!processing" name="form" (ngSubmit)="save() && false" [formGroup]="form" novalidate>
        <div class="form-group row">
          <div class="col-5">
            <label for="dpStart" class="col-form-label">start</label>
          </div>
          <div class="col-7">
            <div class="input-group input-group-date">
              <input class="form-control"
                [ngClass]="{ 'is-invalid': form.controls.start.invalid, 'is-valid': form.controls.start.valid }"
                formControlName="start" ngbDatepicker #dStart="ngbDatepicker" required>
              <div class="input-group-append">
                <span class="input-group-text pointer" (click)="dStart.toggle()">
                  <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="leagues" class="form-group row">
          <div class="col-5">
            <label for="league" class="col-form-label">competitie</label>
          </div>
          <div class="col-7">
            <select class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.league.invalid, 'is-valid': form.controls.league.valid }"
              formControlName="league">
              <option [ngValue]="undefined">kies..</option>
              <option *ngFor="let leagueIt of leagues" [ngValue]="leagueIt">
                {{leagueIt.getName()}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="seasons" class="form-group row">
          <div class="col-5">
            <label for="season" class="col-form-label">seizoen</label>
          </div>
          <div class="col-7">
            <select class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.season.invalid, 'is-valid': form.controls.season.valid }"
              formControlName="season">
              <option [ngValue]="undefined">kies..</option>
              <option *ngFor="let seasonIt of seasons" [ngValue]="seasonIt">
                {{seasonIt.getName()}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="sports" class="form-group row">
          <div class="col-5">
            <label for="sport" class="col-form-label">sport</label>
          </div>
          <div class="col-7">
            <select class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.sport.invalid, 'is-valid': form.controls.sport.valid }"
              formControlName="sport">
              <option [ngValue]="undefined">kies..</option>
              <option *ngFor="let sportIt of sports" [ngValue]="sportIt">
                {{sportIt.getName()}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row justify-content-end">
          <div class="col-7">
            <button [disabled]="form.invalid" type="submit" class="btn btn-outline-primary">
              <span>{{competition ? 'wijzigen' : 'toevoegen'}}</span>
              <fa-icon *ngIf="processing" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
            </button>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-5">
            <button [routerLink]="['/admin/competition/structure', competition.getId()]" type="button"
              class="btn btn-outline-secondary">
              <fa-icon [icon]="['fas', 'bezier-curve']"></fa-icon>
              <span class="ml-1">structuur</span>
            </button>
          </div>
          <div class="col-7">
            <button [routerLink]="['/admin/competition/games', competition.getId()]" type="button"
              class="btn btn-outline-secondary">
              <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
              <span class="ml-1">wedstrijden</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>