<div class="container-fluid home">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <div class="mb-4">
        <h1>
          <span>league</span>
          <span> {{league ? 'wijzigen' : 'toevoegen'}}</span>
          <button (click)="navigateBack()" type="button" class="btn btn-outline-secondary btn-sm">
            <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
          </button>
        </h1>
      </div>
      <form name="form" (ngSubmit)="save() && false" [formGroup]="customForm" novalidate>
        <div class="form-group row">
          <div class="col-3">
            <label for="association" class="col-form-label">bond</label>
          </div>
          <div class="col-9">
            <select id="association" name="association" class="form-control" [ngClass]="{ 'is-invalid': customForm.controls.association.invalid, 'is-valid': customForm.controls.association.valid }"
              [formControl]="customForm.controls.association">
              <option [ngValue]="undefined">kies..</option>
              <option *ngFor="let association of associations" [ngValue]="association">{{association.getName()}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="name" class="col-form-label">naam</label>
          </div>
          <div class="col-9">
            <input class="form-control" [ngClass]="{ 'is-invalid': customForm.controls.name.invalid, 'is-valid': customForm.controls.name.valid }"
              type="text" name="name" id="name" [formControl]="customForm.controls.name" maxlength="{{validations.maxlengthname}}"
              placeholder="max. {{validations.maxlengthname}} karakters" autofocus>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="sport" class="col-form-label">sport</label>
          </div>
          <div class="col-9">
            <select id="sport" name="sport" class="form-control" [ngClass]="{ 'is-invalid': customForm.controls.sport.invalid, 'is-valid': customForm.controls.sport.valid }"
              [formControl]="customForm.controls.sport">
              <option [ngValue]="undefined">kies..</option>
              <option *ngFor="let sport of sports" [ngValue]="sport">{{sport}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="abbreviation" class="col-form-label">afkorting</label>
          </div>
          <div class="col-9">
            <input class="form-control" [ngClass]="{ 'is-invalid': customForm.controls.abbreviation.invalid, 'is-valid': customForm.controls.abbreviation.valid }"
              type="text" name="abbreviation" id="abbreviation" [formControl]="customForm.controls.abbreviation"
              maxlength="{{validations.maxlengthabbreviation}}" placeholder="max. {{validations.maxlengthabbreviation}} karakters">
          </div>
        </div>
        <ngb-alert *ngIf="alert" [type]="alert.type" style="width:100%;" [dismissible]="true" (close)="alert = undefined;">{{
          alert.message }}</ngb-alert>
        <div class="form-group row justify-content-end">
          <div class="col-9">
            <button [disabled]="customForm.invalid" type="submit" class="btn btn-outline-primary">
              <span>{{league ? 'wijzigen' : 'toevoegen'}}</span>
              <fa-icon *ngIf="processing" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>