<div class="container-fluid home">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <div class="mb-4">
        <h1>
          <span>externe deelnemer koppelen</span>
          <button (click)="navigateBack()" type="button" class="btn btn-outline-secondary btn-sm">
            <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
          </button>
        </h1>
      </div>
      <form name="form" (ngSubmit)="save() && false" [formGroup]="customForm" novalidate>
        <div class="form-group row">
          <div class="col-3">
            <label for="name" class="col-form-label">naam</label>
          </div>
          <div class="col-9">
            <input class="form-control" type="text" name="name" id="name" [formControl]="customForm.controls.name">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="externalSystem" class="col-form-label">extern systeem</label>
          </div>
          <div class="col-9">
            <select id="externalSystem" name="externalSystem" class="form-control" [ngClass]="{ 'is-invalid': customForm.controls.externalSystem.invalid, 'is-valid': customForm.controls.externalSystem.valid }"
              [formControl]="customForm.controls.externalSystem" (ngModelChange)="getExternalObject($event)">
              <option [ngValue]="undefined">kies..</option>
              <option *ngFor="let externalSystemIt of externalSystems" [ngValue]="externalSystemIt">{{externalSystemIt.getName()}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="customForm.controls.externalSystem.value" class="form-group row">
          <div class="col-3">
            <label for="externalId" class="col-form-label">externid</label>
          </div>
          <div class="col-9">
            <input class="form-control" [ngClass]="{ 'is-invalid': customForm.controls.externalId.invalid, 'is-valid': customForm.controls.externalId.valid }"
              type="text" name="externalId" id="externalId" [formControl]="customForm.controls.externalId" maxlength="{{validations.maxlengthexternalid}}"
              placeholder="max. {{validations.maxlengthexternalid}} karakters">
          </div>
        </div>
        <ngb-alert *ngIf="alert" [type]="alert.type" style="width:100%;" [dismissible]="true" (close)="alert = undefined;">{{
          alert.message }}</ngb-alert>
        <div class="form-group row justify-content-end">
          <div class="col-9">
            <button [disabled]="customForm.invalid" type="submit" class="btn btn-outline-primary">
              extern competitor wijzigen
              <fa-icon *ngIf="processing" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>