<div class="row justify-content-center mx-0" style="min-height:4.5rem;">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 mt-1">
    <h1 class="">
      <span>deelnemers</span>
      <button routerLink="/admin/home" routerLinkActive="active" type="button" class="btn btn-outline-secondary btn-sm">
        <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
      </button>
    </h1>
    <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="true" (close)="alert = undefined;">
      <fa-icon *ngIf="processing" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon> {{ alert.message }}
    </ngb-alert>
    <form *ngIf="associations" name="form" #f="ngForm" (ngSubmit)="save() && false" novalidate>
      <div class="form-group row">
        <div class="col-4">
          <label for="parent" class="col-form-label">kies bond</label>
        </div>
        <div class="col-8">
          <select id="association" name="association" class="form-control" [ngModel]="association" (ngModelChange)="onSelectAssociation($event)">
            <option [ngValue]="undefined">kies..</option>
            <option *ngFor="let associationIt of associations" [ngValue]="associationIt">{{associationIt.getName()}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
<div>
  <h2 *ngIf="processing" class="text-center">
    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </h2>
</div>
<div *ngIf="competitors" class="row justify-content-center mx-0 ">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 px-0 ">
    <table class="table ">
      <thead>
        <tr>
          <th></th>
          <th *ngIf="useExternal "></th>
          <th class="d-none d-sm-table-cell">bond</th>
          <th></th>
          <th>naam</th>
          <th class="d-none d-sm-table-cell">afk.</th>
          <th style="text-align: right; ">
            <button type="button " class="btn btn-sm btn-outline-primary " (click)="add() " [disabled]="processing ">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let competitor of competitors ">
          <td>
            <button type="button " class="btn btn-sm btn-outline-primary " [disabled]="processing " (click)="edit(competitor) ">
              <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            </button>
          </td>
          <td *ngIf="useExternal ">
            <button type="button " class="btn btn-sm btn-outline-primary " [disabled]="processing " (click)="linkToExtern(competitor) ">
              <fa-icon [icon]="['fas', 'cloud-download-alt']"></fa-icon>
            </button>
          </td>
          <td class="d-none d-sm-table-cell">
            <span>{{competitor.getAssociation().getName()}}</span>
          </td>
          <td>
            <img *ngIf="competitor.getImageUrl()" height="16px" src="{{competitor.getImageUrl()}}">
          </td>
          <td>
            <span>{{competitor.getName()}}</span>
          </td>
          <td class="d-none d-sm-table-cell ">{{competitor.getAbbreviation()}}</td>
          <td style="text-align: right; ">
            <button type="button " class="btn btn-sm btn-outline-primary " [disabled]="processing " (click)="remove(competitor); ">
              <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>