<div class="row justify-content-center mx-0" style="min-height:4.5rem;">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 mt-1">
    <div class="d-flex justify-content-between mb-2">
      <h1 class="text-truncate">bonden</h1>
      <h1 class="mr-1">
        <button (click)="navigateBack()" type="button" class="btn btn-outline-secondary">
          <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
          <span class="ml-1 d-none d-sm-inline"> terug</span>
        </button>
      </h1>
    </div>
    <div class="d-flex justify-content-end mb-2">
      <h1 class="mr-1">
        <button *ngIf="externalSource === undefined" (click)="openExternalSource()" type="button"
          class="btn btn-outline-secondary">
          <fa-icon [icon]="['fas', 'cloud']"></fa-icon>
          <span> externe bron</span>
        </button>
        <button *ngIf="externalSource" (click)="openExternalSource()" type="button" class="btn btn-outline-primary">
          {{externalSource.getName()}}
        </button>
      </h1>
    </div>
    <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false" (close)="alert = undefined;">
      <fa-icon *ngIf="processing" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon> {{ alert.message }}
    </ngb-alert>

    <table *ngIf="externalSource === undefined" class="table">
      <thead>
        <tr>
          <th></th>
          <th>naam</th>
          <th class="d-none d-sm-table-cell">parent</th>
          <th style="text-align: right;">
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="add()" [disabled]="processing">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let association of associations">
          <td>
            <button type="button" class="btn btn-sm btn-outline-primary" [disabled]="processing"
              (click)="edit(association)">
              <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            </button>
          </td>
          <td>
            <span>{{association.getName()}}</span>
          </td>
          <td class="d-none d-sm-table-cell">{{association.getParent() ? association.getParent().getName(): ''}}</td>
          <td style="text-align: right;">
            <button *ngIf="association.getChildren().length === 0" type="button" class="btn btn-sm btn-outline-primary"
              [disabled]="processing" (click)="remove(association);">
              <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="externalSource && hasImplementation()" class="table">
      <thead>
        <tr>
          <th>naam</th>
          <th class="text-center">koppelen</th>
          <th>{{externalSource.getName()}}-naam</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let association of associations">
          <td>
            <span>{{association.getName()}}</span>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-sm btn-outline-primary" [disabled]="processing"
              (click)="remove(association);">
              <fa-icon [icon]="['fas', 'compress-alt']" rotate="27"></fa-icon>
            </button>
          </td>
          <td class="">externalsourcename</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>