<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">{{title}}</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li *ngIf="authenticationService.token" class="nav-item float-xs-right">
                <a class="nav-link" routerLink="/admin" routerLinkActive="active" style="color:white;">admin</a>
            </li>
            <li *ngIf="!authenticationService.token" class="nav-item float-xs-right">
                <a class="nav-link bg-success" routerLink="/login" routerLinkActive="active" style="color:white;">inloggen</a>
            </li>
            <li *ngIf="authenticationService.token" class="nav-item float-xs-right">
                <a class="nav-link bg-success" routerLink="/logout" routerLinkActive="active" style="color:white;">uitloggen</a>
            </li>
        </ul>
    </div>
</nav>

