<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="card pointer mt-3 mx-2" routerLink="['/externalsystem']">
      <div class="card-body">
        <h5 class="card-title">
          externe systemen</h5>
      </div>
    </div>
    <!-- <div class="card pointer mt-3 mx-2" [routerLink]="['/admin/bookmaker']">
      <div class="card-body">
        <h5 class="card-title">
          bookmakers</h5>
      </div>
    </div> -->
  </div>
  <hr>
  <div class="row d-flex justify-content-center">
    <div class="card pointer mt-3 mx-2" routerLink="['/association']">
      <div class="card-body">
        <h5 class="card-title">
          bonden</h5>
      </div>
    </div>
    <!-- <div class="card pointer mt-3 mx-2" [routerLink]="['/admin/season']">
      <div class="card-body">
        <h5 class="card-title">
          seizoenen</h5>
      </div>
    </div> -->
    <!-- <div class="card pointer mt-3 mx-2" [routerLink]="['/admin/league']">
      <div class="card-body">
        <h5 class="card-title">
          leagues</h5>
      </div>
    </div> -->

  </div>
  <hr>
  <!-- <div class="row d-flex justify-content-center">
    <div class="card pointer mt-3 mx-2" [routerLink]="['/admin/competition']">
      <div class="card-body">
        <h5 class="card-title">
          competities</h5>
      </div>
    </div>
    <div class="card pointer mt-3 mx-2" [routerLink]="['/admin/competitor', undefined]">
      <div class="card-body">
        <h5 class="card-title">
          deelnemers</h5>
      </div>
    </div>
  </div> -->
</div>