<!-- <div class="alert alert-success">bonden gevonden</div> -->
<h2>bonden beheren</h2>
<div *ngIf="message" class="alert alert-{{message.type}}" role="alert">{{message.message}}</div>
<table class="table" style="max-width: 600px;">
    <thead>
        <tr>
            <th style="text-align: center">{{associations?.length}}</th>
            <th>naam</th>
            <th class="hidden-xs-down">omschrijving</th>
            <th style="text-align: center"><a type="button" href="javascript:void(0)" class="btn btn-secondary" (click)="onAdd()"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let association of associations">
            <td style="text-align: center"><a type="button" href="javascript:void(0)" class="btn btn-secondary" (click)="onEdit(association)"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
            <td>{{association.name}}</td>
            <td class="hidden-xs-down">{{association.desciption}}</td>
            <td style="text-align: center"><a type="button" href="javascript:void(0)" class="btn btn-secondary" (click)="onRemove(association)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
        </tr>
    </tbody>
</table>

<a href="#" class="btn btn-secondary" (click)="goBack()">ga terug</a>