
<div class="competitions-external">
    <h2>competities importeren</h2>
    <div *ngIf="message" class="alert alert-{{message.type}}" role="alert">{{message.message}}</div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div *ngIf="externalsystem">
                <div>
                    <a type="button" href="javascript:void(0)" class="btn btn-secondary" (click)="onRemove(competition)"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
                <div *ngFor="let competition of competitions" style="margin-top:8px; margin-bottom:8px;">
                    <div class="btn-group" role="group" aria-label="competities">
                        <a type="button" href="javascript:void(0)" class="btn btn-secondary" (click)="onRemove(competition)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <button [disabled]="true" class="btn btn-secondary" (click)="onRemove(competition)">{{competition.getName()}}</button>
                        <a type="button" href="javascript:void(0)" class="btn btn-secondary" (click)="onRemove(competition)"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div>
                <label>extern systeem</label>
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>{{ externalsystem ? externalsystem.getName() : 'selecteer extern systeem' }}</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <button *ngFor="let externalsystemit of externalsystems"  class="dropdown-item" (click)="onSelectExternalSystem(externalsystemit)">{{externalsystemit.getName()}}</button>
                    </div>
                </div>
            </div>
            <div *ngIf="externalsystem">
                <div *ngFor="let externalcompetition of externalcompetitions" style="margin-top:8px; margin-bottom:8px;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" href="javascript:void(0)" class="btn btn-secondary" (click)="onRemove(externalcompetition)"><i class="fa fa-link" aria-hidden="true"></i></a>
                        <button [disabled] class="btn btn-secondary" (click)="onRemove(externalcompetition)">{{externalcompetition.getName()}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<a href="#" class="btn btn-secondary" (click)="goBack()">ga terug</a>
