<div class="modal-header">
    <h4 class="modal-title">externe seizoen koppelen</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="text-align: center;">
    <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
    <div class="btn-group-vertical">
        <button *ngFor="let season of seasons" (click)="addExternal(season)" type="button" class="btn btn-secondary">
            {{season.getName()}}
        </button>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">sluiten</button>
</div>
