<div *ngIf="!isLoggedIn()" class="p-x-1 p-y-3 password-change">
  <!-- <div *ngIf="activationmessage" class="alert alert-success">{{activationmessage}}</div> -->
  <form *ngIf="!passwordChanged" class="card card-body mx-auto bg-faded form-password-change" name="form" (ngSubmit)="f.form.valid && changePassword() && false"
    #f="ngForm" novalidate>
    <legend class="m-b-1 text-xs-center">wachtwoord wijzigen</legend>
    <label for="code" class="sr-only">code</label>
    <input type="number" id="code" name="code" class="form-control" placeholder="code" [(ngModel)]="model.code" #code="ngModel"
      required autofocus>
    <label for="password" class="sr-only">wachtwoord</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="wachtwoord" [(ngModel)]="model.password"
      #password="ngModel" required>
    <label for="passwordrepeat" class="sr-only">wachtwoord herhalen</label>
    <input type="password" id="passwordrepeat" name="passwordrepeat" class="form-control" placeholder="wachtwoord herhalen" [(ngModel)]="model.passwordrepeat"
      #passwordrepeat="ngModel" required>
    <!-- <div *ngIf="!code.valid" class="alert alert-danger">code is verplicht</div>
    <div *ngIf="!password.valid" class="alert alert-danger">wachtwoord is verplicht</div>
    <div *ngIf="!passwordrepeat.valid" class="alert alert-danger">wachtwoord-herhalen is verplicht</div>
    <div *ngIf="password.value != passwordrepeat.value" class="alert alert-danger">wachtwoorden zijn ongelijk</div>-->
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <button [disabled]="!f.form.valid || loading" class="btn btn-lg btn-primary btn-block" type="submit">wachtwoord wijzigen
      <i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i>
    </button>
  </form>
</div>

<div *ngIf="isLoggedIn() && passwordChanged" class="card card-body mx-auto bg-faded form-password-change mt-3">
  <legend class="m-b-1 text-xs-center">het wachtwoord is gewijzigd en je bent ingelogd!</legend>
  <a role="button" class="btn btn-outline-secondary" routerLink="/home">ga verder</a>
</div>
<div *ngIf="isLoggedIn() && !passwordChanged" class="card card-body mx-auto bg-faded form-password-change mt-3">
  <legend class="m-b-1 text-xs-center">je bent al ingelogd</legend>
  <a role="button" class="btn btn-outline-secondary" routerLink="/home">ga terug</a>
</div>