<div class="p-x-1 p-y-3 login">
  <!-- <div *ngIf="activationmessage" class="alert alert-success">{{activationmessage}}</div> -->
  <form class="card card-body mx-auto bg-faded form-login" style="max-width: 25rem" name="form" (ngSubmit)="f.form.valid && login() && false"
    #f="ngForm" novalidate>
    <legend class="m-b-1 text-xs-center">inloggen</legend>
    <label for="emailaddress" class="sr-only">emailaddres</label>
    <input type="email" id="emailaddress" name="emailaddress" class="form-control" placeholder="emailadres" [(ngModel)]="model.emailaddress"
      #emailaddress="ngModel" required autofocus>
    <label for="password" class="sr-only">wachtwoord</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="wachtwoord" [(ngModel)]="model.password"
      #password="ngModel" required>
    <div *ngIf="f.submitted && !emailaddress.valid" class="alert alert-danger">emailadres is verplicht</div>
    <div *ngIf="f.submitted && !password.valid" class="alert alert-danger">wachtwoord is verplicht</div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <button [disabled]="loading" class="btn btn-lg btn-primary btn-block" type="submit">inloggen
      <i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i>
    </button>
    <div class="mt-4 d-flex justify-content-between">
      <a routerLink="/user/passwordreset">wachtwoord vergeten</a>
      <a routerLink="/user/register">registreren</a>
    </div>
  </form>
</div>