<div class="container-fluid home">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <h1 class="text-center">
        VOBetting
      </h1>
      <p *ngIf="alert">
        <ngb-alert [type]="alert.type" (close)="alert = undefined;">{{ alert.message }}</ngb-alert>
      </p>

      <div *ngIf="!processing" class="card-deck">
        <div class="card border-primary mb-3">
          <div class="card-header">Basis-objecten</div>
          <div class="card-body">
            <p class="card-text">beheer de basis-elementen voor voetbal en vobetting
            </p>

          </div>
          <div class="card-footer"><button routerLink="/admin/home" routerLinkActive="active" class="btn btn-primary"
              type="button">
              gaan
            </button></div>
        </div>
        <div class="card border-primary mb-3">
          <div class="card-header">Weddenschappen</div>
          <div class="card-body">
            <p class="card-text">bekijk de weddenschappen
            </p>
          </div>
          <div class="card-footer"><button routerLink="/vobetting/betgames" routerLinkActive="active"
              class="btn btn-primary" type="button">
              gaan
            </button></div>
        </div>
      </div>
    </div>
  </div>
</div>