<div class="container-fluid">
  <h2 *ngIf="processing" class="fa fa-spinner fa-spin fa-fw"></h2>
  <div *ngIf="showChart === false">
    <button type="button" class="btn btn-primary" (click)="toggleChart()">toon grafiek</button>
  </div>
  <div *ngIf="showChart && !processing">
    <span>{{getBetTypeDescription(betType)}}</span>
    <span *ngIf="betType === MatchOdds && betLines">
      <div class="btn-group btn-group-toggle">
        <label *ngFor="let betLine of betLines" class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton (click)="updateFilter(betLine)"> {{getHomeAwayDescription(getHomeAway(betLine))}}
        </label>
      </div>
    </span>
  </div>
  <div *ngIf="showChart && !processing" class="row">
    <ngx-charts-line-chart class="col" [view]="view" *ngIf="chartLayBacks" [results]="chartLayBacks" [gradient]="gradient" [xAxis]="showXAxis"
      [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel" [scheme]="colorScheme" [autoScale]="autoScale" timeline="true" (select)="onSelect($event)">
    </ngx-charts-line-chart>
  </div>
</div>