charts
<div>
  <div *ngFor="let game of games">
    <div>
      <span>{{game.getHomePoulePlace().getTeam().getName() }}</span>
      <span> vs </span>
      <span>{{game.getAwayPoulePlace().getTeam().getName() }}</span>
    </div>
    <div>
      <div *ngFor="let betType of getBetTypes(game)">
        <span>{{getBetTypeDescription(betType)}}</span>
        <div *ngIf="betType === MatchOdds">
          <button type="button" class="btn btn-outline-secondary" (click)="showChart(game, Home)">
            thuis
          </button> -
          <button type="button" class="btn btn-outline-secondary" (click)="showChart(game)">
            gelijk
          </button> -
          <button type="button" class="btn btn-outline-secondary" (click)="showChart(game, Away)">
            uit
          </button>
        </div>
        <!-- games.forEach(game => { betLinesUpdates.push(this.betLineRepository.getObjects(game, betLineFilter)); }); -->
        <ngx-charts-line-chart *ngIf="matchOddsShowChart" [view]="view" [scheme]="colorScheme" [results]="allBetLineLayBacks[getBetLine(game, matchOddsHomeAway).getId()]"
          [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
        </ngx-charts-line-chart>
        <hr>
      </div>
    </div>
  </div>
</div>